<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.master.aluca.fitnessmd"
          android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>
    <uses-feature android:name="android.hardware.camera"></uses-feature>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".ui.auth.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.auth.SignupActivity" />
        <activity android:name="com.master.aluca.fitnessmd.ui.MainActivity" />
        <activity android:name="com.master.aluca.fitnessmd.ui.PairDeviceActivity" />
        <activity android:name="com.master.aluca.fitnessmd.ui.NoMeteorConnectionActivity" android:launchMode="singleTop"/>
        <activity android:name=".ui.DietActivity" />
        <activity android:name=".ui.AdvicesActivity" android:launchMode="singleTop"/>
        <activity android:name=".ui.challenges.ChallengesActivity" android:launchMode="singleTop"/>

        <service android:name="com.master.aluca.fitnessmd.service.FitnessMDService" />
        <receiver android:process=":remote" android:name=".receivers.AlarmReceiver"></receiver>
    </application>

</manifest>
